.servicesection {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 0 10%;
    padding: 10vh 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20vh;
    background-color: black;
}

.services-section-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    background-color: transparent;
    max-width: 1400px;
    width: 100%;
}

.servicesectionheading {
    font-family: Nulshock;
    font-size: clamp(2.5rem, 5vw, 5rem);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 5% 0;
    -webkit-text-stroke: 1px #6e6e6e;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1024px) {
    .servicesection {
        padding: 20vh 0;
    }
    
    .services-section-container {
        display: none;
    }

    .servicesectionheading {
        margin: 2% 0;
        position: sticky;
        top: 13vh;
    }
    .servicesection{
        padding-top: 10vh;
    }
}

@media screen and (max-width: 768px) {
    .servicesectionheading {
        margin: 1% 0;
    }
    .servicesection{
        padding-top: 10vh;
    }
}

@media (max-width: 480px){
    .servicesectionheading {
        -webkit-text-stroke: 0.7px #6e6e6e;
    }
}

