.servicesection {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 0 10%;
    margin: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20vh;
    z-index: 3;
}

.services-section-container {
    display: flex;
    justify-content: center;
    height: 70vh;
    gap: 30px;
    padding: 20px;
    background-color: transparent;
    max-width: 1400px;
    width: 100%;
}

.servicesectionheading {
    font-family: Nulshock;
    font-size: clamp(3rem, 5vw, 5rem);  /* Responsive font size */
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 5% 0;
    -webkit-text-stroke: 1px #6e6e6e;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1024px) {
    .servicesection {
        padding: 0 0;
        margin: 20vh 0;
    }
    
    .services-section-container {
        display: none;  /* Hide only the container, not the whole section */
    }

    .servicesectionheading {
        margin: 2% 0;
        -webkit-text-stroke: 0.5px #6e6e6e;  /* Thinner stroke for mobile */
        position: sticky;
        top: 20vh;
    }
}

@media screen and (max-width: 768px) {
    .servicesectionheading {
        margin: 1% 0;
    }
}

@media (max-width: 480px) {
    .servicesection{
        margin-bottom: 20vh;
    }
}